@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark text-uppercase fw-bold" style="font-size: 0.75rem; letter-spacing: 1px;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a>
        </li>
        <li class="nav-item">
            @* Changed from a FORM to a LINK to trigger the confirmation page *@
            <a class="nav-link text-dark text-uppercase fw-bold" style="font-size: 0.75rem; letter-spacing: 1px;" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark text-uppercase fw-bold" style="font-size: 0.75rem; letter-spacing: 1px;" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark text-uppercase fw-bold" style="font-size: 0.75rem; letter-spacing: 1px;" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>