@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <title>Welcome to Museum Project git</title>
    <h1>hi</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>